<style media="screen">
	#button {background-color:#ccc; color;#212121; width:170px; text-align:center;}
	#button a {text-decoration: none; color: #212121; }
	#button a:hover {text-decoration: underline;}
</style>

<div id="button">
	Welcome to battleships!!<br>
	<a href="/new_game">Register to play</a>
</div>
