<div>

	<% if @coord && @coord != "" %>
		<%= $game.player_1.shoot @coord.to_sym %>
	<% end %>
	<pre><%= $game.opponent_board_view $game.player_1 %></pre>
	<form action='/play_game' method='post'>
		Enter the coordinate you want to shoot at<br>
		<input type="text" name="coord">
		<input type="submit" value="Fire!">
	</form>

</div>

<div>Coordinate out of bounds - please enter valid coordinate</div>
